---
// import Nav from "../components/NavBar";
import Layout from "../layouts/Layout.astro";
import Home from "../components/home.astro";
---

<Layout title="">
  <div>
  hhh
    <Home />
  </div>
</Layout>
